/* -------------------------- */
/* Variables & Mixins ------- */
/* -------------------------- */
/* -------------------------- */
/* Fonts -------------------- */
/* -------------------------- */
@font-face {
  font-family: 'Aleo';
  src: url("fonts/aleo/Aleo-Regular-webfont.eot");
  src: url("fonts/aleo/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aleo/Aleo-Regular-webfont.woff") format("woff"), url("fonts/aleo/Aleo-Regular-webfont.ttf") format("truetype"), url("fonts/aleo/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Aleo';
  src: url("fonts/aleo/Aleo-Italic-webfont.eot");
  src: url("fonts/aleo/Aleo-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aleo/Aleo-Italic-webfont.woff") format("woff"), url("fonts/aleo/Aleo-Italic-webfont.ttf") format("truetype"), url("fonts/aleo/Aleo-Italic-webfont.svg#aleoitalic") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Aleo';
  src: url("fonts/aleo/Aleo-Light-webfont.eot");
  src: url("fonts/aleo/Aleo-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aleo/Aleo-Light-webfont.woff") format("woff"), url("fonts/aleo/Aleo-Light-webfont.ttf") format("truetype"), url("fonts/aleo/Aleo-Light-webfont.svg#aleolight") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Aleo';
  src: url("fonts/aleo/Aleo-LightItalic-webfont.eot");
  src: url("fonts/aleo/Aleo-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aleo/Aleo-LightItalic-webfont.woff") format("woff"), url("fonts/aleo/Aleo-LightItalic-webfont.ttf") format("truetype"), url("fonts/aleo/Aleo-LightItalic-webfont.svg#aleolightitalic") format("svg");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Aleo';
  src: url("fonts/aleo/Aleo-Bold-webfont.eot");
  src: url("fonts/aleo/Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aleo/Aleo-Bold-webfont.woff") format("woff"), url("fonts/aleo/Aleo-Bold-webfont.ttf") format("truetype"), url("fonts/aleo/Aleo-Bold-webfont.svg#aleobold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Aleo';
  src: url("fonts/aleo/Aleo-BoldItalic-webfont.eot");
  src: url("fonts/aleo/Aleo-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/aleo/Aleo-BoldItalic-webfont.woff") format("woff"), url("fonts/aleo/Aleo-BoldItalic-webfont.ttf") format("truetype"), url("fonts/aleo/Aleo-BoldItalic-webfont.svg#aleobolditalic") format("svg");
  font-weight: 600;
  font-style: italic; }
/* -------------------------- */
/* Global elements ---------- */
/* -------------------------- */
body {
  background-color: #fff;
  color: #12202c;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

a {
  color: #137cc8;
  transition: color 250ms ease-in-out; }
  a:hover, a:visited {
    color: #2d9beb;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Aleo", "Roboto", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.kicker {
  color: #6f7e8a;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  margin: 0 0 8px;
  text-transform: uppercase; }

.bg-image {
  background: url("") no-repeat center center;
  background-size: cover;
  width: 75px;
  height: 75px;
  z-index: -2;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); }
  .bg-image.featured {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto; }
    .bg-image.featured:after {
      background-color: #137cc8;
      background-image: -webkit-linear-gradient(135deg, #137cc8, #eb532a);
      background-image: -moz-linear-gradient(135deg, #137cc8, #eb532a);
      background-image: -o-linear-gradient(135deg, #137cc8, #eb532a);
      background-image: linear-gradient(135deg, #137cc8, #eb532a);
      opacity: 0.75;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: opacity 250ms ease-in-out; }

.inner-wrap {
  padding: 15px;
  position: relative; }
  .inner-wrap h1 {
    margin: 0 0 10px; }
  .inner-wrap h4 {
    margin: 10px 0; }

ul.icon-list {
  padding: 0; }
  ul.icon-list li {
    color: #12202c;
    display: block;
    margin: 0 0 10px;
    padding-left: 20px; }
    ul.icon-list li:last-child {
      margin: 0; }
    ul.icon-list li:before {
      content: "\e023";
      color: #6f7e8a;
      font-family: 'FontAwesome';
      font-size: 15px;
      float: left;
      margin-top: -1px;
      margin-left: -20px; }
    ul.icon-list li.time:before {
      content: "\f017"; }
    ul.icon-list li.twitter:before {
      content: "\f099"; }
    ul.icon-list li.trophy:before {
      content: "\f091"; }
    ul.icon-list li.plus:before {
      content: "\f055"; }
    ul.icon-list li a {
      font-weight: bold; }

.btn-default {
  background-color: #137cc8;
  border-color: rgba(26, 46, 63, 0.18);
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  transition: all 250ms ease-in-out; }
  .btn-default .read-more {
    display: inline-block;
    padding: 10px 14px;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    transition: all 250ms ease-in-out; }
    .btn-default .read-more .glyphicon {
      opacity: 1;
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
      transition: all 250ms ease-in-out; }
  @media (min-width: 768px) {
    .btn-default .read-more {
      padding: 10px 5px 10px 23px; }
      .btn-default .read-more .glyphicon {
        opacity: 0;
        -webkit-transform: translateX(-18px);
        transform: translateX(-18px); } }
  .btn-default:hover {
    background-color: #2d9beb;
    border-color: rgba(26, 46, 63, 0.18);
    color: white; }
    @media (min-width: 768px) {
      .btn-default:hover .read-more {
        padding: 10px 14px; }
        .btn-default:hover .read-more .glyphicon {
          opacity: 1;
          -webkit-transform: translateX(2px);
          transform: translateX(2px); } }

.league-logo {
  background: url("") no-repeat center center;
  background-size: contain;
  height: 28px; }
  .league-logo.big-8 {
    background-image: url("img/logos/Big8-compact.svg");
    width: 42px; }
  .league-logo.catholic-7 {
    background-image: url("img/logos/Catholic7.svg");
    background-position-y: 9px;
    width: 80px; }
  .league-logo.cma {
    background-image: url("img/logos/CMA.svg");
    width: 28px; }
  .league-logo.the-daily {
    background-image: url("img/logos/Daily-compact.svg");
    background-position-y: -3px;
    width: 80px; }
  .league-logo.norman {
    background-image: url("img/logos/Norman.svg");
    width: 30px; }
  .league-logo.okc {
    background-image: url("");
    width: 30px; }
  .league-logo.pack-10 {
    background-image: url("img/logos/Pack10-compact.svg");
    width: 30px; }
  .league-logo.the-urb {
    background-image: url("img/logos/Urb-compact.svg");
    background-position-y: -1px;
    width: 42px; }

/* -------------------------- */
/* Key elements ------------- */
/* -------------------------- */
.carousel-container {
  overflow-x: scroll;
  position: relative;
  height: 248px; }
  .carousel-container .carousel-pane {
    height: 248px;
    position: absolute;
    top: 0;
    left: 0; }
    .carousel-container .carousel-pane .carousel-slider {
      white-space: nowrap;
      position: relative; }
      .carousel-container .carousel-pane .carousel-slider .carousel-item {
        display: inline-block;
        padding: 20px 10px;
        vertical-align: top; }
        .carousel-container .carousel-pane .carousel-slider .carousel-item:first-child {
          padding-left: 20px; }
        .carousel-container .carousel-pane .carousel-slider .carousel-item:last-child {
          padding-right: 20px; }
        .carousel-container .carousel-pane .carousel-slider .carousel-item img {
          border-radius: 50%;
          margin: 0 auto 8px;
          width: 130px;
          height: auto; }
        .carousel-container .carousel-pane .carousel-slider .carousel-item span {
          display: block;
          width: 180px;
          text-align: center;
          white-space: normal;
          transition: all 250ms ease-in-out; }
          .carousel-container .carousel-pane .carousel-slider .carousel-item span.name {
            color: #12202c;
            font-family: "Aleo", "Roboto", sans-serif;
            font-size: 1.1em;
            font-weight: 600;
            line-height: 1.2;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
            .carousel-container .carousel-pane .carousel-slider .carousel-item span.name .rank {
              display: inline;
              color: #137cc8;
              font-family: "Roboto", sans-serif;
              font-size: .6em;
              position: relative;
              bottom: 2px; }
            .carousel-container .carousel-pane .carousel-slider .carousel-item span.name:after {
              content: '';
              background-color: #e2e2e2;
              width: 32px;
              height: 1px;
              display: block;
              margin: 6px auto 8px; }
          .carousel-container .carousel-pane .carousel-slider .carousel-item span.teams {
            color: #6f7e8a;
            font-size: .75em; }
        .carousel-container .carousel-pane .carousel-slider .carousel-item:hover .name {
          color: #2d9beb; }

.article p {
  font-family: Georgia, serif;
  font-size: 1.05em;
  line-height: 1.5;
  margin: 0 0 16px; }
  @media (min-width: 768px) {
    .article p {
      font-size: 1.15em; } }

/* -------------------------- */
/* Flex structure ----------- */
/* -------------------------- */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }
  @media (min-width: 768px) {
    .flex-container {
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      border-bottom: 3px solid #1a2e3f; } }
  .flex-container > .flex-item {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    position: relative;
    border-bottom: 3px solid #1a2e3f; }
    @media (min-width: 768px) {
      .flex-container > .flex-item {
        border-bottom: 0;
        border-right: 3px solid #1a2e3f;
        padding: 5px; } }
    .flex-container > .flex-item:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #edf5fa;
      z-index: -9; }
      @media (min-width: 768px) {
        .flex-container > .flex-item:before {
          top: 5px;
          left: 5px;
          bottom: 5px;
          right: 5px; } }
    .flex-container > .flex-item > .flex-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      border-bottom: 0; }
      .flex-container > .flex-item > .flex-container > .flex-item {
        border: 0;
        padding: 0; }
        .flex-container > .flex-item > .flex-container > .flex-item.nested {
          border: 0;
          padding: 0;
          margin: -5px; }
    @media (min-width: 768px) {
      .flex-container > .flex-item:last-child {
        border: 0; } }

/* -------------------------- */
/* Header & nav ------------- */
/* -------------------------- */
.navbar-default {
  background-color: #1a2e3f;
  border: none; }
  .navbar-default .navbar-toggle {
    float: left;
    margin: 0;
    padding: 16.5px 5px 16.5px 15px;
    background-color: #137cc8;
    border: 0;
    border-radius: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
      border-radius: 4px;
      height: 3px;
      width: 22px;
      position: relative;
      transition: all 250ms ease-in-out; }
      .navbar-default .navbar-toggle .icon-bar:last-child {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -7px; }
      .navbar-default .navbar-toggle .icon-bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 7px; }
      .navbar-default .navbar-toggle .icon-bar:nth-child(3) {
        opacity: 0; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #137cc8; }
    .navbar-default .navbar-toggle.collapsed .icon-bar {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      top: 0;
      opacity: 1; }
  .navbar-default .navbar-header .navbar-brand {
    background-color: #137cc8;
    padding: 11px 15px 13px 10px; }
    .navbar-default .navbar-header .navbar-brand img {
      height: 28px; }
  .navbar-default .navbar-collapse {
    border: 0;
    background-color: #fff; }
    @media (min-width: 768px) {
      .navbar-default .navbar-collapse {
        background-color: transparent; } }
  .navbar-default .navbar-nav {
    margin: 0; }
    .navbar-default .navbar-nav > li {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      .navbar-default .navbar-nav > li > a {
        color: #12202c;
        font-size: 1.25em;
        font-weight: 600;
        padding: 20px 15px;
        transition: color 250ms ease-in-out; }
        @media (min-width: 768px) {
          .navbar-default .navbar-nav > li > a {
            color: #fff;
            font-size: 1em;
            padding: 15px; } }
        .navbar-default .navbar-nav > li > a:focus {
          color: #137cc8; }
        .navbar-default .navbar-nav > li > a:hover {
          color: #137cc8; }
      .navbar-default .navbar-nav > li + li {
        border-top: 1px solid #e2e2e2; }
        @media (min-width: 768px) {
          .navbar-default .navbar-nav > li + li {
            border-top: none; } }
    .navbar-default .navbar-nav > .active > a {
      color: #fff;
      background-color: #233e55;
      transition: all 250ms ease-in-out; }
    @media (min-width: 768px) {
      .navbar-default .navbar-nav:hover > li > a {
        color: rgba(255, 255, 255, 0.4); }
        .navbar-default .navbar-nav:hover > li > a:hover {
          color: #fff; } }
    .navbar-default .navbar-nav:hover > .active > a {
      background-color: transparent; }
    .navbar-default .navbar-nav .open a[aria-expanded=true] {
      color: #12202c;
      background-color: transparent;
      border-color: #6f7e8a; }
    .navbar-default .navbar-nav .dropdown .dropdown-menu {
      border-top: 1px solid #6f7e8a;
      right: auto;
      padding: 0; }
      @media (min-width: 768px) {
        .navbar-default .navbar-nav .dropdown .dropdown-menu {
          border-color: transparent;
          padding: 5px 0; } }
      .navbar-default .navbar-nav .dropdown .dropdown-menu li a {
        color: #777;
        font-size: 1.25em;
        padding: 20px 25px; }
        @media (min-width: 768px) {
          .navbar-default .navbar-nav .dropdown .dropdown-menu li a {
            font-size: 1em;
            padding: 4px 20px; } }
        .navbar-default .navbar-nav .dropdown .dropdown-menu li a:hover {
          color: #12202c; }
      .navbar-default .navbar-nav .dropdown .dropdown-menu li + li {
        border-top: 1px solid #6f7e8a; }
        @media (min-width: 768px) {
          .navbar-default .navbar-nav .dropdown .dropdown-menu li + li {
            border: none; } }
  .navbar-default .navbar-right {
    display: none; }
    @media (min-width: 768px) {
      .navbar-default .navbar-right {
        display: block;
        padding: 0 15px; }
        .navbar-default .navbar-right img {
          opacity: 0.4; } }

/* -------------------------- */
/* Grid slots --------------- */
/* -------------------------- */
#grid {
  margin-top: 50px; }
  #grid .announcements-slot {
    display: none; }
    @media (min-width: 880px) {
      #grid .announcements-slot {
        display: block;
        flex: 2; } }
    #grid .announcements-slot .nested.one {
      border-bottom: 13px solid #fff; }
    #grid .announcements-slot .nested.two:before {
      background-color: #1a2e3f;
      height: 3px;
      width: 100%;
      top: 2px;
      left: 0;
      z-index: 1; }
    #grid .announcements-slot .inner-wrap {
      padding: 20px; }
      #grid .announcements-slot .inner-wrap p,
      #grid .announcements-slot .inner-wrap ul {
        color: #6f7e8a;
        font-size: .75em;
        line-height: 1.25; }
      #grid .announcements-slot .inner-wrap p {
        display: none; }
        @media (min-width: 1200px) {
          #grid .announcements-slot .inner-wrap p {
            display: block; } }
  #grid .lead-slot {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media (min-width: 768px) {
      #grid .lead-slot {
        flex: 2; } }
    @media (min-width: 880px) {
      #grid .lead-slot {
        flex: 7; } }
    @media (min-width: 880px) {
      #grid .lead-slot .inner-wrap {
        padding: 30px; } }
    #grid .lead-slot a {
      display: block; }
    #grid .lead-slot h1 {
      color: #fff;
      font-size: 1.875em;
      font-weight: 600;
      margin: 0 0 15px;
      text-shadow: 1px 1px 2px rgba(18, 32, 44, 0.5);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      @media (min-width: 768px) {
        #grid .lead-slot h1 {
          font-size: 3em; } }
      @media (min-width: 992px) {
        #grid .lead-slot h1 {
          font-size: 3.625em; } }
      @media (min-width: 1200px) {
        #grid .lead-slot h1 {
          font-size: 4em; } }
    @media (min-width: 768px) {
      #grid .lead-slot .btn-default {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.9);
        color: rgba(255, 255, 255, 0.9);
        margin: 0 0 60px; } }
    #grid .lead-slot:hover .bg-image:after {
      opacity: .92; }
    #grid .lead-slot:hover .btn-default {
      background-color: #137cc8; }
      @media (min-width: 768px) {
        #grid .lead-slot:hover .btn-default {
          border-color: rgba(26, 46, 63, 0.18);
          color: white; }
          #grid .lead-slot:hover .btn-default .read-more {
            padding: 10px 14px; }
            #grid .lead-slot:hover .btn-default .read-more .glyphicon {
              opacity: 1;
              -webkit-transform: translateX(2px);
              transform: translateX(2px); } }
      #grid .lead-slot:hover .btn-default:hover {
        background-color: #2d9beb; }
  #grid .twitter-slot {
    display: none; }
    @media (min-width: 768px) {
      #grid .twitter-slot {
        display: block;
        flex: 1;
        min-height: 522px; } }
    @media (min-width: 880px) {
      #grid .twitter-slot {
        flex: 3; } }
    #grid .twitter-slot .twitter-timeline {
      display: none; }
  #grid .article-slot .sponsored {
    display: none; }
    @media (min-width: 768px) {
      #grid .article-slot .sponsored {
        display: block;
        height: 34px; } }
    #grid .article-slot .sponsored span {
      display: inline-block;
      color: #6f7e8a;
      font-family: "Roboto Condensed", "Roboto", sans-serif;
      font-size: 0.65em;
      text-transform: uppercase; }
    #grid .article-slot .sponsored .league-logo {
      display: inline-block;
      margin: -1px 0 0 1px;
      vertical-align: middle; }
  #grid .article-slot .bg-image {
    float: left; }
  #grid .article-slot h2 {
    color: #12202c;
    float: none;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 0 0 85px;
    transition: all 250ms ease-in-out; }
    @media (min-width: 768px) {
      #grid .article-slot h2 {
        font-size: 1.5em;
        font-weight: 500;
        margin: 0 0 8px; } }
  #grid .article-slot .slot-image {
    display: none; }
    @media (min-width: 768px) {
      #grid .article-slot .slot-image {
        display: block;
        margin: 0 0 8px;
        overflow: auto;
        position: relative; }
        #grid .article-slot .slot-image:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          transition: all 250ms ease-in-out; } }
  #grid .article-slot p {
    display: none; }
    @media (min-width: 768px) {
      #grid .article-slot p {
        display: block;
        font-size: .825em;
        color: #6f7e8a;
        margin: 0; } }
  #grid .article-slot a.link-item {
    display: block; }
    #grid .article-slot a.link-item:hover h2 {
      color: #2d9beb; }
    #grid .article-slot a.link-item:hover .slot-image:before {
      -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.85);
      -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.85);
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.85); }
  #grid .friends-slot .kicker {
    font-size: 1.15em;
    text-align: center; }
  @media (min-width: 768px) {
    #grid .primary-slot {
      flex: 9; } }
  @media (min-width: 768px) {
    #grid .sidebar-slot {
      flex: 3; } }
